@page
@model OdeToFood.Pages.Restaurants.ListModel
@{
    ViewData["Title"] = "Restaurants";
}

<h1>Restaurants</h1>

<form action="/Restaurants/List" method="get">
    <div class="form-group">
        <div class="input-group">
            <input type="search" class="form-control border border-dark" asp-for="SearchTerm" />
            <span class="input-group-prepend">
                <button class="btn btn-block btn-outline-dark" type="submit">
                    <i class="fa fa-search"></i> Search
                </button>
            </span>
        </div>
    </div>
</form>

@foreach (var restaurant in Model.Restaurants)
{
    <partial name="_Summary" model="restaurant" />
}

<a asp-page="./Edit" class="btn btn-primary">Add New</a>